<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>WebJSP</display-name>
  <welcome-file-list>
    <!-- <welcome-file>index.html</welcome-file> -->
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
 
<!--
<web-app> Element
web.xml의 Root-Element 기능을 담당

<display-name> Element
쉽게 말해 web.xml(DD) 파일의 title을 설정하는 부분이다.
기본적으로 프로젝트 이름

<welcome-file-list>Element
서버로 요청이 들어왔을때 표시할 welcome-file을 순서대로 정의하는 부분.

<welcome-file-list>
	<welcome-file>index.jsp</welcome-file>
	<welcome-file>index.html</welcome-file>	
</welcome-file-list>
index.jsp, index.html의 순서로 호출하고, 없다면 404 페이지 호출
순서대로 부를때 맨처음 파일이 있다면 그다음 파일은 검사자체를 안한다 여러개를 다중으로 부르는 개념이 아닌
파일이 있는지 없는지 판별하고 있으면 그 파일을 root로 연다는 의미


<error-page> Element
error code 혹은 exception type을 error page로 매핑하기 위한 부분.

error-code: 웹의 에러 코드를 적어주는 변수
exception-type: java exception type을 적어주는 변수
location : 매핑할 페이지의 경로를 적는 변수

<context-param> 매개변수를 쓰기위한 곳 
param-name : 매개변수 이름
param-value : 매개변수값
-->
  
  <context-param>
  	<description>개발자 마음...</description>
  	<param-name>email</param-name>
  	<param-value>webmaster.or.kr</param-value>
  </context-param>
  <context-param>
  	<description>기본파일 업로드 경로</description>
  	<param-name>filepath</param-name>
  	<param-value>C:\\Web\\Download</param-value>
  </context-param>
  
  <!-- 
  	WebApp(context) 전체 페이지에 적용되는 Error 페이지 만듬.
  	
  	1.상태코드 (500 서버코드(개발자 실수), 404(요청페이지 없음), 403 접근권한 오류)
  	특정 페이지를 만들어서 상태코드에 맞게 페이지를 해결
  	
  	2. 예외별로 (세분화) : NULLPoint .. 처리 페이지, IndexOutOfBound 처리 페이지..
  	개발시에는 ... 안되용
  	개발자에는 예외를 확인
  	
  	배포시 작업 ...
  	
  	*********xml에 수정되면 서버는 재시작^^
  
   -->
   <error-page>
   		<error-code>500</error-code>
   		<location>/error/Error500.jsp</location>
   </error-page>
      <error-page>
   		<error-code>404</error-code>
   		<location>/error/Error404.jsp</location>
   </error-page>
</web-app>